.head-title-form{
  .head-title{
    font-size: 18px;
    font-weight: bold;

    span{
      font-weight: 400;
      font-size: 15px;
    }
  }
  .head-line{
    height: 1px;
    width: 100%;
    background: rgba(102, 102, 102, 0.5);
  }
}