.new-appointment {
  width: 80%;
  margin: 1rem auto;

  .selectedPet{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 1rem;

    .image {
      width: 25%;
      margin-right: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
      }
    }
    .info{
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      div{
        margin: .5rem 0;
        display: flex;
        justify-content: space-between;
        span{
          width: 70%;
          display: block;
          border-bottom: 1px solid rgba(0,0,0,0.3);
          text-align: center;
        }
      }
    }
  }

  .section-btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }
}